/*-----------------------------------------------------------------------*/
/*                           Loading Screen                              */
/*-----------------------------------------------------------------------*/

#load_screen {
    width: 100%;
    height: 100%;
    z-index: 2;
}

#logo {
    width: 700px;
    height: 700px;
    padding-top: 100px;
    position: relative;
    margin: auto;
}

@keyframes exit {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(.1);
    }
}

#logo img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

#loaderz {
    width: 700px;
    height: 70px;
    background-color: #606060;
}

#loaderz::-webkit-progress-bar {
    background-color: #606060;
}

#loaderz::-webkit-progress-value {
    background-color: #1e1e1e;
}

#loaderz::-moz-progress-bar {

}

/*-----------------------------------------------------------------------*/
/*                                  News                                 */
/*-----------------------------------------------------------------------*/

#newswrap {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    margin-left: 2vw;
    width: 15vw;
}

.iconPic img {
    max-width: 100%;
}

.news_focus {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    right: 3vw;
    background-color: #333333;
    width: 60vw;
    height: 90vh;
    overflow-y: auto;
    text-align: center;
    font-size: 100px;
    color: #FFFFFF;
}

.news_content div {
    padding: 2vw;
    text-align: left;
    font-family: sans-serif;
    color: #dcdcdc;
}

.news_content img {
    min-width: 100%;
    max-width: 100%;
}



/* Version 2 */
/*
#newswrap {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    width: 15vw;
}

.news_focus {
    position: absolute;
    right: 0;
    background-color: #333333;
    width: 67vw;
    height: 100vh;
    overflow-y: auto;
    text-align: center;
}
*/
