body {
	background-color: black;
}

img {
	display: inline-block;
}

#menu ul {
	position: fixed;
	z-index: 2;
	width: 100%;
	list-style-type: none;
	overflow: hidden;
	padding-left: 10px;
	background-color: #333;
	border: none;
	top: -16px;
	left: -10px;
}

#menu ul li {
	float: right;
}

#menu ul li a {
	display: block;
	font-family: Homenaje, sans-serif;
	color: white;
	font-size: 24px;
	text-align: center;
	padding: 35px 20px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

#title a{
	position: fixed;
	font-family: Lobster Two, cursive;
	color: white;
	height: 70px;
	line-height: 70px;
	width: 630px;
	font-size: 65px;
	text-decoration: none;
	top: 12px;
	left: 28px;
	z-index: 3;
}

#title a:hover {
	text-shadow: 1px 1px 2px #e6e6e6;
}
	

#main {
	position: absolute;
	color: white;
	left: 240px;
	top: 330px;
	line-height: 30px;
	font-size: 30px;
	font-family: Homenaje, sans-serif;
	
}

#sendTitle  {
	position: absolute;
	top: 150px;
	left: 900px;
	width: 300px;
	text-align: center;
	font-size: 24px;
	line-height: 24px;
	font-family: Homenaje, sans-serif;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
	color: white;
	
	
}

#troy {
	position: absolute;
	top: 360px;
	left: 40px;
}

#ca {
	position: absolute;
	top: 120px;
	left: 60px;
}

#davis {
	position: absolute;
	top: 130px;
	left: 210px;
}

#ryan {
	position: absolute;
	top: 380px;
	left: 240px;
	padding-bottom: 20px;
	
}

#three {
	position: absolute;
	top: 340px;
	left: 770px;
	padding-bottom: 20px;
	
}

#crowd {
	position: absolute;
	top: 150px;
	left: 480px;
	padding-bottom: 20px;
}

#table {
	position: absolute;
	top: 120px;
	left: 740px;
	
}

#cassAl {
	position: absolute;
	top: 350px;
	left: 520px;
	
}













