#title {
    position: relative;
    font-size: 5.6vw;
    height: 20vh;
    width: 100%;
    color: #cfcfcf;
    font-family: sans-serif;
    text-align: center;
    background-color: #212221;
}

#title span {
    position: relative;
    top: 6vh;
    text-anchor: middle;
}

#resources_container {
    background-color: #2a2a2a;
    width: 100%;
    position: relative;
    min-height: 80vh;
    height: 100%;
}

#resources_container span {
    position: absolute;
    font-size: 10vw;
    color: #bfbfbf;
    font-family: sans-serif;
    top: 20vh;
    left: 10vw;
}